<div class="admin">
    <h2>Posts</h2>
    <a href="/add-post" class="button">+ Add New</a>
</div>

<ul class="admin-posts">
    <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <%= post.title %> &nearr;
            </a>

            <% if (post.imageUrl) { %>
                <div class="post-image">
                    <img src="<%= post.imageUrl %>" alt="Post Image" style="max-width: 300px; height: auto;">
                    <% if (post.caption) { %>
                        <p class="caption"><%= post.caption %></p>
                    <% } %>
                </div>
            <% } %>

            <div class="admin-post-controls">
                <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>
                <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn-delete btn">
                </form>
            </div>
        </li>
    <% }); %>
</ul>
